/*
 *  cm_tree.cpp
 *
 *  This file is part of NEST.
 *
 *  Copyright (C) 2004 The NEST Initiative
 *
 *  NEST is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  NEST is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with NEST.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
#include "{{neuronSpecificFileNamesCmSyns["tree"]}}.h"

namespace
{
float profile_elapsed_ms(cudaEvent_t start, cudaEvent_t stop)
{
  float elapsed_ms = 0.0f;
  cudaEventElapsedTime(&elapsed_ms, start, stop);
  return elapsed_ms;
}

__device__ __forceinline__ int
neuron_index_from_global_compartment(int global_compartment, int compartments_per_neuron)
{
  return global_compartment / compartments_per_neuron;
}

__device__ __forceinline__ int
local_compartment_index_from_global_compartment(int global_compartment, int compartments_per_neuron)
{
  return global_compartment % compartments_per_neuron;
}

__global__ void cm_tree_construct_matrix_kernel(float* population_vars,
                                                int n_var,
                                                int compartment_voltage_base_index,
                                                const float* ca__div__dt,
                                                const float* gl__times__el,
                                                const float* matrix_diagonal,
                                                float* gg,
                                                float* ff,
                                                const float* mech_g,
                                                const float* mech_i,
                                                int compartment_count,
                                                int total_compartment_count)
{
  const int global_compartment = blockIdx.x * blockDim.x + threadIdx.x;
  if (global_compartment >= total_compartment_count)
  {
    return;
  }

  const int i_neuron =
    neuron_index_from_global_compartment(global_compartment, compartment_count);
  const int local_compartment =
    local_compartment_index_from_global_compartment(global_compartment, compartment_count);
  const int voltage_index =
    i_neuron * n_var + compartment_voltage_base_index + local_compartment;
  const float voltage = population_vars[voltage_index];
  gg[global_compartment] = matrix_diagonal[global_compartment] + mech_g[global_compartment];
  ff[global_compartment] = ca__div__dt[global_compartment] * voltage
    + gl__times__el[global_compartment] + mech_i[global_compartment];
}

__global__ void cm_tree_downsweep_level_kernel(const int* level_nodes,
                                               int level_node_count,
                                               const int* child_offsets,
                                               const int* child_indices,
                                               const float* hh,
                                               float* gg,
                                               float* ff)
{
  const int level_index = blockIdx.x * blockDim.x + threadIdx.x;
  if (level_index >= level_node_count)
  {
    return;
  }

  const int node = level_nodes[level_index];
  float node_g = gg[node];
  float node_f = ff[node];
  for (int child_entry = child_offsets[node + 1] - 1; child_entry >= child_offsets[node]; --child_entry)
  {
    const int child = child_indices[child_entry];
    const float factor = hh[child] / gg[child];
    node_g -= hh[child] * factor;
    node_f -= ff[child] * factor;
  }
  gg[node] = node_g;
  ff[node] = node_f;
}

__global__ void cm_tree_solve_root_and_upsweep_kernel(float* population_vars,
                                                      int n_var,
                                                      int compartment_voltage_base_index,
                                                      const float* gg,
                                                      const float* ff,
                                                      const float* hh,
                                                      const int* parent_index,
                                                      int neuron_count,
                                                      int compartment_count,
                                                      const float* thresholds,
                                                      int* self_spikes)
{
  const int i_neuron = blockIdx.x * blockDim.x + threadIdx.x;
  if (i_neuron >= neuron_count || compartment_count <= 0)
  {
    return;
  }

  const int compartment_base = i_neuron * compartment_count;
  float* compartment_voltages =
    population_vars + i_neuron * n_var + compartment_voltage_base_index;
  const float previous_soma_voltage_value = compartment_voltages[0];
  self_spikes[i_neuron] = 0;

  compartment_voltages[0] = ff[compartment_base] / gg[compartment_base];
  for (int local = 1; local < compartment_count; ++local)
  {
    const int i = compartment_base + local;
    const int parent = parent_index[i];
    const int parent_local = parent - compartment_base;
    const float parent_v = parent >= 0 ? compartment_voltages[parent_local] : 0.0f;
    compartment_voltages[local] = (ff[i] - parent_v * hh[i]) / gg[i];
  }
  self_spikes[i_neuron] =
    (compartment_voltages[0] >= thresholds[i_neuron] && previous_soma_voltage_value < thresholds[i_neuron]) ? 1 : 0;
}
}

Compartment{{cm_unique_suffix}}::Compartment{{cm_unique_suffix}}( const long compartment_index, const long parent_index)
  : comp_index( compartment_index )
  , p_index( parent_index )
  , parent( nullptr )
  , v_comp( new double(0.0) )
  , ca( 1.0 )
  , gc( 0.01 )
  , gl( 0.1 )
  , el( -70. )
  , gg0( nullptr )
  , ca__div__dt( nullptr )
  , gl__times__el( nullptr )
  , ff( nullptr )
  , gg( nullptr )
  , hh( 0.0 )
{
  *v_comp = el;
}

Compartment{{cm_unique_suffix}}::Compartment{{cm_unique_suffix}}( const long compartment_index, const long parent_index,
    double* v_comp_ref, double* ca__div__dt_ref, double* gl__times__el_ref, double* gg0_ref, double* gg_ref, double* ff_ref )
  : comp_index( compartment_index )
  , p_index( parent_index )
  , parent( nullptr )
  , v_comp( v_comp_ref )
  , ca( 1.0 )
  , gc( 0.01 )
  , gl( 0.1 )
  , el( -70. )
  , gg0( gg0_ref )
  , ca__div__dt( ca__div__dt_ref )
  , gl__times__el( gl__times__el_ref )
  , ff( ff_ref )
  , gg( gg_ref )
  , hh( 0.0 )
{
  *v_comp = el;
}
Compartment{{cm_unique_suffix}}::Compartment{{cm_unique_suffix}}( const long compartment_index,
  const long parent_index,
  const nlohmann::json& compartment_params,
  double* v_comp_ref, double* ca__div__dt_ref, double* gl__times__el_ref, double* gg0_ref, double* gg_ref, double* ff_ref)
  : comp_index( compartment_index )
  , p_index( parent_index )
  , parent( nullptr )
  , v_comp( v_comp_ref )
  , ca( 1.0 )
  , gc( 0.01 )
  , gl( 0.1 )
  , el( -70. )
  , gg0( gg0_ref )
  , ca__div__dt( ca__div__dt_ref )
  , gl__times__el( gl__times__el_ref )
  , ff( ff_ref )
  , gg( gg_ref )
  , hh( 0.0 )
{

  if (compartment_params.contains("C_m")) ca = compartment_params["C_m"];
  if (compartment_params.contains("g_C")) gc = compartment_params["g_C"];
  if (compartment_params.contains("g_L")) gl = compartment_params["g_L"];
  if (compartment_params.contains("e_L")) el = compartment_params["e_L"];
  double v_comp_update = el;
  if (compartment_params.contains("v_comp")) v_comp_update = compartment_params["v_comp"];

  *v_comp = v_comp_update;
}

void
Compartment{{cm_unique_suffix}}::calibrate( double time_resolution )
{

  const double dt = time_resolution;
  // used in vectorized passive loop
  *ca__div__dt = ca / dt;
  *gl__times__el = gl * el;
  *gg0 = *ca__div__dt + gl;
}

CompTree{{cm_unique_suffix}}::CompTree{{cm_unique_suffix}}()
  : root_( -1, -1 )
  , size_( 0 )
{
  compartments_.resize( 0 );
}

CompTree{{cm_unique_suffix}}::~CompTree{{cm_unique_suffix}}()
{
  if (update_graph_exec_ != nullptr)
  {
    cudaStreamSynchronize(nullptr);
  }
  destroy_update_graph();
  if (update_graph_capture_stream_ != nullptr)
  {
    cudaStreamDestroy(update_graph_capture_stream_);
  }
}

void
CompTree{{cm_unique_suffix}}::destroy_update_graph()
{
  if (update_graph_exec_ != nullptr)
  {
    cudaGraphExecDestroy(update_graph_exec_);
    update_graph_exec_ = nullptr;
  }
  if (update_graph_ != nullptr)
  {
    cudaGraphDestroy(update_graph_);
    update_graph_ = nullptr;
  }
}

/**
 * Add a compartment to the tree structure via the python interface
 * root shoud have -1 as parent index. Add root compartment first.
 * Assumes parent of compartment is already added
 */
void
CompTree{{cm_unique_suffix}}::add_compartment( const long parent_index )
{
  v_comp_vec.push_back(0.0);
  ca__div__dt_vec.push_back(0.0);
  gl__times__el_vec.push_back(0.0);
  gg0_vec.push_back(0.0);
  gg_vec.push_back(0.0);
  ff_vec.push_back(0.0);
  size_t comp_index = v_comp_vec.size()-1;

  Compartment{{cm_unique_suffix}}* compartment = new Compartment{{cm_unique_suffix}}(
    size_, parent_index, &(v_comp_vec[comp_index]), &(ca__div__dt_vec[comp_index]),
    &(gl__times__el_vec[comp_index]), &(gg0_vec[comp_index]), &(gg_vec[comp_index]), &(ff_vec[comp_index])
  );

  neuron_currents.add_compartment();
  add_compartment( compartment, parent_index );
}

void
CompTree{{cm_unique_suffix}}::add_compartment( const long parent_index, const nlohmann::json& compartment_params )
{
  //Check whether all passed parameters exist within the used neuron model:
  nlohmann::json comp_param_copy = compartment_params;

  comp_param_copy.erase("C_m");
  comp_param_copy.erase("g_C");
  comp_param_copy.erase("g_L");
  comp_param_copy.erase("e_L");
  comp_param_copy.erase("v_comp");
{%- for ion_channel_name, channel_info in chan_info.items() %}
  {%- for variable_type, variable_info in channel_info["Parameters"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in channel_info["States"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in channel_info["ODEs"].items() %}
  if( comp_param_copy.contains( "{{variable_type}}" ) ) comp_param_copy.erase("{{variable_type}}");
  {%- endfor %}
{%- endfor %}
{%- for concentration_name, concentration_info in conc_info.items() %}
  {%- for variable_type, variable_info in concentration_info["Parameters"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
{%- endfor %}
{%- for concentration_name, concentration_info in conc_info.items() %}
  {%- for variable_type, variable_info in concentration_info["States"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in concentration_info["ODEs"].items() %}
  if( comp_param_copy.contains( "{{variable_type}}" ) ) comp_param_copy.erase("{{variable_type}}");
  {%- endfor %}
{%- endfor %}
{%- for receptor_name, receptor_info in recs_info.items() %}
  {%- for variable_type, variable_info in receptor_info["Parameters"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
{%- endfor %}
{%- for receptor_name, receptor_info in recs_info.items() %}
  {%- for variable_type, variable_info in receptor_info["States"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in receptor_info["ODEs"].items() %}
  if( comp_param_copy.contains( "{{variable_type}}" ) ) comp_param_copy.erase("{{variable_type}}");
  {%- endfor %}
{%- endfor %}
{%- for continuous_name, continuous_info in con_in_info.items() %}
  {%- for variable_type, variable_info in continuous_info["Parameters"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in continuous_info["ODEs"].items() %}
  if( comp_param_copy.contains( "{{variable_type}}" ) ) comp_param_copy.erase("{{variable_type}}");
  {%- endfor %}
{%- endfor %}
{%- for continuous_name, continuous_info in con_in_info.items() %}
  {%- for variable_type, variable_info in continuous_info["States"].items() %}
        {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
{%- endfor %}
//global vars
  {%- for variable_type, variable_info in global_info["Parameters"].items() %}
      {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}
  {%- for variable_type, variable_info in global_info["ODEs"].items() %}
  if( comp_param_copy.contains( "{{variable_type}}" ) ) comp_param_copy.erase("{{variable_type}}");
  {%- endfor %}
  {%- for variable_type, variable_info in global_info["States"].items() %}
      {%- set variable = variable_info["ASTVariable"] %}
  if( comp_param_copy.contains( "{{variable.name}}" ) ) comp_param_copy.erase("{{variable.name}}");
  {%- endfor %}

  if(!comp_param_copy.empty()){
    std::string msg = "Following parameters are invalid: ";
    for(auto& param : comp_param_copy.items()){
        msg += param.key();
        msg += "\n";
    }
    throw std::runtime_error(msg);
  }

  v_comp_vec.push_back(0.0);
  ca__div__dt_vec.push_back(0.0);
  gl__times__el_vec.push_back(0.0);
  gg0_vec.push_back(0.0);
  gg_vec.push_back(0.0);
  ff_vec.push_back(0.0);
  size_t comp_index = v_comp_vec.size()-1;

  Compartment{{cm_unique_suffix}}* compartment = new Compartment{{cm_unique_suffix}}(
    size_, parent_index, compartment_params, &(v_comp_vec[comp_index]), &(ca__div__dt_vec[comp_index]),
    &(gl__times__el_vec[comp_index]), &(gg0_vec[comp_index]), &(gg_vec[comp_index]), &(ff_vec[comp_index])
  );

  neuron_currents.add_compartment(compartment_params);
  add_compartment( compartment, parent_index );
}

void
CompTree{{cm_unique_suffix}}::add_compartment( Compartment{{cm_unique_suffix}}* compartment, const long parent_index )
{
  size_++;

  if ( parent_index >= 0 )
  {
    /**
     * we do not raise an UnknownCompartment exception from within
     * get_compartment(), because we want to print a more informative
     * exception message
     */
    Compartment{{cm_unique_suffix}}* parent = get_compartment( parent_index, get_root(), 0 );
    if ( parent == nullptr )
    {
      std::string msg = "does not exist in tree, but was specified as a parent compartment";
      throw std::runtime_error(msg);
    }

    parent->children.push_back( *compartment );
  }
  else
  {
    // we raise an error if the root already exists
    if ( root_.comp_index >= 0 )
    {
      std::string msg = ", the root, has already been instantiated";
      throw std::runtime_error(msg);
    }
    root_ = *compartment;
  }

  compartment_indices_.push_back( compartment->comp_index );

  set_compartments();
}

/**
 * Get the compartment corresponding to the provided index in the tree.
 *
 * This function gets the compartments by a recursive search through the tree.
 *
 * The overloaded functions looks only in the subtree of the provided compartment,
 * and also has the option to throw an error if no compartment corresponding to
 * `compartment_index` is found in the tree
 */
Compartment{{cm_unique_suffix}}*
CompTree{{cm_unique_suffix}}::get_compartment( const long compartment_index ) const
{
  return get_compartment( compartment_index, get_root(), 1 );
}

Compartment{{cm_unique_suffix}}*
CompTree{{cm_unique_suffix}}::get_compartment( const long compartment_index, Compartment{{cm_unique_suffix}}* compartment, const long raise_flag ) const
{
  Compartment{{cm_unique_suffix}}* r_compartment = nullptr;

  if ( compartment->comp_index == compartment_index )
  {
    r_compartment = compartment;
  }
  else
  {
    auto child_it = compartment->children.begin();
    while ( ( not r_compartment ) && child_it != compartment->children.end() )
    {
      r_compartment = get_compartment( compartment_index, &( *child_it ), 0 );
      ++child_it;
    }
  }

  if ( ( not r_compartment ) && raise_flag )
  {
    std::string msg = "does not exist in tree";
    throw std::runtime_error(msg);
  }

  return r_compartment;
}

/**
 * Get the compartment corresponding to the provided index in the tree. Optimized
 * trough the use of a pointer vector containing all compartments. Calling this
 * function before calibration has finalized the compartment pointer vector is invalid.
 */
Compartment{{cm_unique_suffix}}*
CompTree{{cm_unique_suffix}}::get_compartment_opt( const long compartment_idx ) const
{
  return compartments_[ compartment_idx ];
}

void
CompTree{{cm_unique_suffix}}::init_base_arrays(float* var_arr, int n_var, int i_neuron, int base_index)
{
  if (var_arr == nullptr)
  {
    throw std::runtime_error("Compartment tree requires initialized BaseNeuron var_arr_ storage");
  }
  GPU_v_comp = var_arr + i_neuron * n_var + base_index;
  compartment_voltage_base_index_ = base_index;
  base_arrays_initialized_ = true;

  for (long compartment_index = 0; compartment_index < size_; ++compartment_index)
  {
    const float v_comp = static_cast<float>(v_comp_vec[compartment_index]);
    gpuErrchk(cudaMemcpy(GPU_v_comp + compartment_index, &v_comp, sizeof(float), cudaMemcpyHostToDevice));
  }
}

/**
 * For each compartments, sets its pointer towards its parent compartment
 */
void
CompTree{{cm_unique_suffix}}::set_parents()
{
  for ( auto compartment_idx_it = compartment_indices_.begin(); compartment_idx_it != compartment_indices_.end();
        ++compartment_idx_it )
  {
    Compartment{{cm_unique_suffix}}* comp_ptr = get_compartment( *compartment_idx_it );
    // will be nullptr if root
    Compartment{{cm_unique_suffix}}* parent_ptr = get_compartment( comp_ptr->p_index, &root_, 0 );
    comp_ptr->parent = parent_ptr;
  }
}

/**
 * Creates a vector of compartment pointers, organized in the order in which they were
 * added by `add_compartment()`
 */
void
CompTree{{cm_unique_suffix}}::set_compartments()
{
  compartments_.clear();

  for ( auto compartment_idx_it = compartment_indices_.begin(); compartment_idx_it != compartment_indices_.end();
        ++compartment_idx_it )
  {
    compartments_.push_back( get_compartment( *compartment_idx_it ) );
  }
}

/**
 * Set pointer variables within a compartment
 */
void
CompTree{{cm_unique_suffix}}::set_compartment_variables()
{
  //reset compartment pointers due to unsafe pointers in vectors when resizing during compartment creation
  for( size_t i = 0; i < v_comp_vec.size(); i++){
    compartments_[i]->v_comp = &(v_comp_vec[i]);
    compartments_[i]->ca__div__dt = &(ca__div__dt_vec[i]);
    compartments_[i]->gl__times__el = &(gl__times__el_vec[i]);
    compartments_[i]->gg0 = &(gg0_vec[i]);
    compartments_[i]->gg = &(gg_vec[i]);
    compartments_[i]->ff = &(ff_vec[i]);
  }
}

/**
 * Initialize state variables
 */
void
CompTree{{cm_unique_suffix}}::calibrate( double time_resolution )
{
  if ( root_.comp_index < 0 )
  {
    std::string msg = "does not exist in tree, meaning that no compartments have been added";
    throw std::runtime_error(msg);
  }

  set_parents();
  set_compartments();
  set_compartment_variables();

  // Initialize host construction data and the BaseNeuron-backed mechanism state.
  for ( auto compartment_it = compartments_.begin(); compartment_it != compartments_.end(); ++compartment_it )
  {
    ( *compartment_it )->calibrate( time_resolution );
  }
  neuron_currents.calibrate( time_resolution );
}

void
CompTree{{cm_unique_suffix}}::initialize_population_runtime(
  const std::vector<CompTree{{cm_unique_suffix}}*>& trees,
  float* var_arr,
  float* param_arr,
  int n_var,
  int n_param,
  const std::vector<float>& thresholds,
  double time_resolution)
{
  destroy_update_graph();
  if (trees.empty())
  {
    throw std::runtime_error("Cannot initialize an empty compartmental population");
  }

  population_neuron_count_ = static_cast<int>(trees.size());
  population_compartment_count_ = static_cast<int>(trees.front()->size_);
  population_n_var_ = n_var;
  compartment_voltage_base_index_ = trees.front()->compartment_voltage_base_index_;
  const int total_compartment_count = population_neuron_count_ * population_compartment_count_;

  std::vector<float> ca__div__dt(total_compartment_count);
  std::vector<float> gl__times__el(total_compartment_count);
  std::vector<double> matrix_diagonal_double(total_compartment_count);
  std::vector<float> hh(total_compartment_count);
  std::vector<int> parent_index(total_compartment_count);
  std::vector<GroupCurrents{{cm_unique_suffix}}*> current_groups;
  current_groups.reserve(population_neuron_count_);

  for (int i_neuron = 0; i_neuron < population_neuron_count_; ++i_neuron)
  {
    CompTree{{cm_unique_suffix}}& tree = *trees[i_neuron];
    if (static_cast<int>(tree.size_) != population_compartment_count_)
    {
      throw std::runtime_error("All neurons in a compartmental GPU population must have the same compartment count");
    }
    if (tree.compartment_voltage_base_index_ != compartment_voltage_base_index_)
    {
      throw std::runtime_error("All neurons in a compartmental GPU population must use the same compartment voltage base index");
    }
    current_groups.push_back(&tree.neuron_currents);
    const int compartment_base = i_neuron * population_compartment_count_;

    // Populate the compartment-local matrix terms before adding coupling terms.
    for (int local = 0; local < population_compartment_count_; ++local)
    {
      const int global = compartment_base + local;
      ca__div__dt[global] = static_cast<float>(tree.ca__div__dt_vec[local]);
      gl__times__el[global] = static_cast<float>(tree.gl__times__el_vec[local]);
      matrix_diagonal_double[global] = tree.gg0_vec[local];
    }

    int root_count = 0;
    for (int local = 0; local < population_compartment_count_; ++local)
    {
      const int global = compartment_base + local;
      const Compartment{{cm_unique_suffix}}& compartment = *tree.compartments_[local];
      if (compartment.p_index >= 0)
      {
        if (compartment.p_index >= population_compartment_count_)
        {
          throw std::runtime_error("Compartment parent index is outside the neuron tree");
        }
        const int parent = compartment_base + static_cast<int>(compartment.p_index);
        hh[global] = static_cast<float>(-compartment.gc);
        parent_index[global] = parent;
        matrix_diagonal_double[global] += compartment.gc;
        matrix_diagonal_double[parent] += compartment.gc;
      }
      else
      {
        ++root_count;
        hh[global] = 0.0f;
        parent_index[global] = -1;
      }
    }
    if (root_count != 1 || parent_index[compartment_base] != -1)
    {
      throw std::runtime_error("Compartmental GPU trees require exactly one root at local compartment index 0");
    }
  }

  std::vector<int> child_offsets(total_compartment_count + 1, 0);
  for (int node = 0; node < total_compartment_count; ++node)
  {
    const int parent = parent_index[node];
    if (parent >= 0)
    {
      ++child_offsets[parent + 1];
    }
  }
  for (int node = 0; node < total_compartment_count; ++node)
  {
    child_offsets[node + 1] += child_offsets[node];
  }

  std::vector<int> child_indices(child_offsets.back());
  std::vector<int> next_child_offset(child_offsets.begin(), child_offsets.end() - 1);
  for (int node = 0; node < total_compartment_count; ++node)
  {
    const int parent = parent_index[node];
    if (parent >= 0)
    {
      child_indices[next_child_offset[parent]++] = node;
    }
  }

  std::vector<int> remaining_children(total_compartment_count);
  std::vector<int> current_level;
  std::vector<int> next_level;
  std::vector<int> downsweep_nodes;
  downsweep_nodes.reserve(total_compartment_count);
  for (int node = 0; node < total_compartment_count; ++node)
  {
    remaining_children[node] = child_offsets[node + 1] - child_offsets[node];
    if (remaining_children[node] == 0)
    {
      current_level.push_back(node);
    }
  }

  downsweep_level_offsets_.clear();
  while (!current_level.empty())
  {
    downsweep_level_offsets_.push_back(static_cast<int>(downsweep_nodes.size()));
    downsweep_nodes.insert(downsweep_nodes.end(), current_level.begin(), current_level.end());
    next_level.clear();
    for (const int node : current_level)
    {
      const int parent = parent_index[node];
      if (parent >= 0)
      {
        --remaining_children[parent];
        if (remaining_children[parent] == 0)
        {
          next_level.push_back(parent);
        }
      }
    }
    current_level.swap(next_level);
  }
  downsweep_level_offsets_.push_back(static_cast<int>(downsweep_nodes.size()));
  if (static_cast<int>(downsweep_nodes.size()) != total_compartment_count)
  {
    throw std::runtime_error("Compartment parent relations do not form valid trees");
  }

  std::vector<float> matrix_diagonal(total_compartment_count);
  for (int node = 0; node < total_compartment_count; ++node)
  {
    matrix_diagonal[node] = static_cast<float>(matrix_diagonal_double[node]);
  }

  GPU_population_vars = var_arr;
  cudaMalloc(&GPU_ca__div__dt, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_gl__times__el, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_gg0, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_hh, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_parent_index, total_compartment_count * sizeof(int));
  cudaMalloc(&GPU_downsweep_nodes, total_compartment_count * sizeof(int));
  cudaMalloc(&GPU_child_offsets, (total_compartment_count + 1) * sizeof(int));
  if (!child_indices.empty())
  {
    cudaMalloc(&GPU_child_indices, child_indices.size() * sizeof(int));
  }
  cudaMalloc(&GPU_gg, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_ff, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_mech_g, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_mech_i, total_compartment_count * sizeof(float));
  cudaMalloc(&GPU_thresholds, population_neuron_count_ * sizeof(float));
  cudaMalloc(&GPU_population_self_spikes, population_neuron_count_ * sizeof(int));
  cudaMalloc(&GPU_population_time_resolution, sizeof(double));

  cudaMemcpy(GPU_ca__div__dt, ca__div__dt.data(), total_compartment_count * sizeof(float), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_gl__times__el, gl__times__el.data(), total_compartment_count * sizeof(float), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_gg0, matrix_diagonal.data(), total_compartment_count * sizeof(float), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_hh, hh.data(), total_compartment_count * sizeof(float), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_parent_index, parent_index.data(), total_compartment_count * sizeof(int), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_downsweep_nodes, downsweep_nodes.data(), total_compartment_count * sizeof(int), cudaMemcpyHostToDevice);
  cudaMemcpy(GPU_child_offsets, child_offsets.data(), (total_compartment_count + 1) * sizeof(int), cudaMemcpyHostToDevice);
  if (!child_indices.empty())
  {
    cudaMemcpy(GPU_child_indices, child_indices.data(), child_indices.size() * sizeof(int), cudaMemcpyHostToDevice);
  }
  cudaMemcpy(GPU_thresholds, thresholds.data(), population_neuron_count_ * sizeof(float), cudaMemcpyHostToDevice);
  cudaMemset(GPU_gg, 0, total_compartment_count * sizeof(float));
  cudaMemset(GPU_ff, 0, total_compartment_count * sizeof(float));
  cudaMemset(GPU_mech_g, 0, total_compartment_count * sizeof(float));
  cudaMemset(GPU_mech_i, 0, total_compartment_count * sizeof(float));
  cudaMemset(GPU_population_self_spikes, 0, population_neuron_count_ * sizeof(int));
  cudaMemcpy(GPU_population_time_resolution, &time_resolution, sizeof(double), cudaMemcpyHostToDevice);

  neuron_currents.initialize_population_runtime(current_groups,
                                                var_arr,
                                                param_arr,
                                                n_var,
                                                n_param,
                                                population_neuron_count_,
                                                population_compartment_count_,
                                                compartment_voltage_base_index_,
                                                GPU_population_self_spikes,
                                                GPU_population_time_resolution);
  device_tree_initialized_ = true;
}

void
CompTree{{cm_unique_suffix}}::enqueue_matrix_solve(cudaStream_t stream)
{
  const int downsweep_block_size = 256;
  const int level_count = static_cast<int>(downsweep_level_offsets_.size()) - 1;
  // Level zero contains leaves, whose matrix entries need no elimination.
  for (int level = 1; level < level_count; ++level)
  {
    const int level_begin = downsweep_level_offsets_[level];
    const int level_node_count = downsweep_level_offsets_[level + 1] - level_begin;
    const int downsweep_grid_size = (level_node_count + downsweep_block_size - 1) / downsweep_block_size;
    cm_tree_downsweep_level_kernel<<<downsweep_grid_size, downsweep_block_size, 0, stream>>>(
      GPU_downsweep_nodes + level_begin,
      level_node_count,
      GPU_child_offsets,
      GPU_child_indices,
      GPU_hh,
      GPU_gg,
      GPU_ff);
  }

  const int neuron_block_size = 128;
  const int neuron_grid_size = (population_neuron_count_ + neuron_block_size - 1) / neuron_block_size;
  cm_tree_solve_root_and_upsweep_kernel<<<neuron_grid_size, neuron_block_size, 0, stream>>>(GPU_population_vars,
                                                                                           population_n_var_,
                                                                                           compartment_voltage_base_index_,
                                                                                           GPU_gg,
                                                                                           GPU_ff,
                                                                                           GPU_hh,
                                                                                           GPU_parent_index,
                                                                                           population_neuron_count_,
                                                                                           population_compartment_count_,
                                                                                           GPU_thresholds,
                                                                                           GPU_population_self_spikes);
}

void
CompTree{{cm_unique_suffix}}::enqueue_population_update(float* port_input_arr,
                                                        int port_input_arr_step,
                                                        int port_input_port_step,
                                                        cudaStream_t stream)
{
  const int total_compartment_count = population_neuron_count_ * population_compartment_count_;
  neuron_currents.f_numstep_device(GPU_population_vars,
                                   GPU_mech_g,
                                   GPU_mech_i,
                                   total_compartment_count,
                                   0,
                                   port_input_arr,
                                   port_input_arr_step,
                                   port_input_port_step,
                                   stream);

  const int compartment_block_size = 256;
  const int compartment_grid_size =
    (total_compartment_count + compartment_block_size - 1) / compartment_block_size;
  cm_tree_construct_matrix_kernel<<<compartment_grid_size, compartment_block_size, 0, stream>>>(GPU_population_vars,
                                                                                                population_n_var_,
                                                                                                compartment_voltage_base_index_,
                                                                                                GPU_ca__div__dt,
                                                                                                GPU_gl__times__el,
                                                                                                GPU_gg0,
                                                                                                GPU_gg,
                                                                                                GPU_ff,
                                                                                                GPU_mech_g,
                                                                                                GPU_mech_i,
                                                                                                population_compartment_count_,
                                                                                                total_compartment_count);

  enqueue_matrix_solve(stream);

  {%- if has_self_spike_processing %}
  neuron_currents.postsynaptic_synaptic_processing_device(stream);
  {%- endif %}
}

void
CompTree{{cm_unique_suffix}}::capture_update_graph(float* port_input_arr,
                                                   int port_input_arr_step,
                                                   int port_input_port_step)
{
  if (update_graph_capture_stream_ == nullptr)
  {
    gpuErrchk(cudaStreamCreateWithFlags(&update_graph_capture_stream_, cudaStreamDefault));
  }
  destroy_update_graph();

  gpuErrchk(cudaStreamBeginCapture(update_graph_capture_stream_, cudaStreamCaptureModeThreadLocal));
  enqueue_population_update(port_input_arr,
                            port_input_arr_step,
                            port_input_port_step,
                            update_graph_capture_stream_);
  gpuErrchk(cudaStreamEndCapture(update_graph_capture_stream_, &update_graph_));
  gpuErrchk(cudaGraphInstantiate(&update_graph_exec_, update_graph_, nullptr, nullptr, 0));

  update_graph_port_input_arr_ = port_input_arr;
  update_graph_port_input_arr_step_ = port_input_arr_step;
  update_graph_port_input_port_step_ = port_input_port_step;
}

void
CompTree{{cm_unique_suffix}}::update_population(const long lag,
                                                float* port_input_arr,
                                                int port_input_arr_step,
                                                int port_input_port_step)
{
  if (!device_tree_initialized_)
  {
    throw std::runtime_error("Compartmental population device state has not been initialized before update");
  }

  if (!update_profiling_enabled_)
  {
    if (update_graph_exec_ == nullptr
        || update_graph_port_input_arr_ != port_input_arr
        || update_graph_port_input_arr_step_ != port_input_arr_step
        || update_graph_port_input_port_step_ != port_input_port_step)
    {
      // Capture cannot inherit pending work from the legacy default stream.
      gpuErrchk(cudaStreamSynchronize(nullptr));
      capture_update_graph(port_input_arr, port_input_arr_step, port_input_port_step);
    }

    // Replay on NEST-GPU's default stream to preserve ordering with spike delivery.
    gpuErrchk(cudaGraphLaunch(update_graph_exec_, nullptr));
    return;
  }

  const int total_compartment_count = population_neuron_count_ * population_compartment_count_;
  cudaEvent_t update_start = nullptr;
  cudaEvent_t section_start = nullptr;
  cudaEvent_t section_stop = nullptr;
  if (update_profiling_enabled_)
  {
    cudaEventCreate(&update_start);
    cudaEventCreate(&section_start);
    cudaEventCreate(&section_stop);
    cudaEventRecord(update_start);
    cudaEventRecord(section_start);
  }

  neuron_currents.f_numstep_device(GPU_population_vars,
                                   GPU_mech_g,
                                   GPU_mech_i,
                                   total_compartment_count,
                                   lag,
                                   port_input_arr,
                                   port_input_arr_step,
                                   port_input_port_step);
  if (update_profiling_enabled_)
  {
    cudaEventRecord(section_stop);
    cudaEventSynchronize(section_stop);
    profile_mechanisms_ms_ += profile_elapsed_ms(section_start, section_stop);
    cudaEventRecord(section_start);
  }

  const int compartment_block_size = 256;
  const int compartment_grid_size =
    (total_compartment_count + compartment_block_size - 1) / compartment_block_size;
  cm_tree_construct_matrix_kernel<<<compartment_grid_size, compartment_block_size>>>(GPU_population_vars,
                                                                                     population_n_var_,
                                                                                     compartment_voltage_base_index_,
                                                                                     GPU_ca__div__dt,
                                                                                     GPU_gl__times__el,
                                                                                     GPU_gg0,
                                                                                     GPU_gg,
                                                                                     GPU_ff,
                                                                                     GPU_mech_g,
                                                                                     GPU_mech_i,
                                                                                     population_compartment_count_,
                                                                                     total_compartment_count);
  if (update_profiling_enabled_)
  {
    cudaEventRecord(section_stop);
    cudaEventSynchronize(section_stop);
    profile_matrix_construct_ms_ += profile_elapsed_ms(section_start, section_stop);
    cudaEventRecord(section_start);
  }

  enqueue_matrix_solve(nullptr);
  if (update_profiling_enabled_)
  {
    cudaEventRecord(section_stop);
    cudaEventSynchronize(section_stop);
    profile_matrix_solve_ms_ += profile_elapsed_ms(section_start, section_stop);
    cudaEventRecord(section_start);
  }

  {%- if has_self_spike_processing %}
  neuron_currents.postsynaptic_synaptic_processing_device();
  {%- endif %}
  if (update_profiling_enabled_)
  {
    cudaEventRecord(section_stop);
    cudaEventSynchronize(section_stop);
    profile_self_spike_ms_ += profile_elapsed_ms(section_start, section_stop);
    profile_update_ms_ += profile_elapsed_ms(update_start, section_stop);
    ++profile_update_calls_;
    cudaEventDestroy(update_start);
    cudaEventDestroy(section_start);
    cudaEventDestroy(section_stop);
  }
}

void
CompTree{{cm_unique_suffix}}::set_update_profiling_enabled(bool enabled)
{
  update_profiling_enabled_ = enabled;
}

void
CompTree{{cm_unique_suffix}}::reset_update_profile()
{
  profile_mechanisms_ms_ = 0.0;
  profile_matrix_construct_ms_ = 0.0;
  profile_matrix_solve_ms_ = 0.0;
  profile_self_spike_ms_ = 0.0;
  profile_update_ms_ = 0.0;
  profile_update_calls_ = 0;
}

void
CompTree{{cm_unique_suffix}}::add_update_profile_to(double& mechanisms_ms,
                                                    double& matrix_construct_ms,
                                                    double& matrix_solve_ms,
                                                    double& self_spike_ms,
                                                    double& update_ms,
                                                    long& update_calls) const
{
  mechanisms_ms += profile_mechanisms_ms_;
  matrix_construct_ms += profile_matrix_construct_ms_;
  matrix_solve_ms += profile_matrix_solve_ms_;
  self_spike_ms += profile_self_spike_ms_;
  update_ms += profile_update_ms_;
  update_calls += profile_update_calls_;
}
